{% extends 'base.html.twig' %}

{% block title %}Hello ClassroomController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>La liste des classes</h3>
    <table border="2">
        <tr>
            <td>ID</td>
            <td>Nom</td>
        </tr>
        <tr>
            {% for k in afficheC %}
            <td>{{ k.id }}</td>
            <td>{{ k.name }}</td>
            <td>
                <a href="{{ path('deleteC', {'id': k.id}) }}"> supprimer</a>
                <a href="{{ path('update', {'id': k.id}) }}"> update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
